{% extends 'baseback.html.twig' %}

{% block title %}Modifier Exercice{% endblock %}


{% block container %}
    <div class="page-body">
        <div class="container" style="margin-top: 80px">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-8 m-auto">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Les informations de l'exercice</h5>
                                    </div>
                                    {{ include('back/exercice/_form.html.twig', {'button_label': 'Modifier'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}