{% extends 'baseback.html.twig' %}

{% block title %}Nouveau adhérent{% endblock %}

{% block container %}

    <div class="page-body">

    

                <!-- New Product Add Start -->
                <div class="container" style="margin-top: 80px">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Les informations de l'adhérent</h5>
                                            </div>

    {{ include('back/adherent/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_adherent_index') }}" style="text-decoration: underline; font-size: 17px;" class="mt-4">back to list</a>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Product Add End -->

            </div>


    

    <a href="{{ path('app_back_adherent_index') }}">back to list</a>
{% endblock %}
