{% extends 'baseback.html.twig' %}

{% block title %}New Affectation{% endblock %}

{% block container %}
    <h1>Create new Affectation</h1>

    
    
    <div class="page-body">
        <div class="content-wrapper">

                <!-- New Product Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2 text-center" >
                                                <h2 class="text-center mb-4" style="margin-bottom: 50px">Les informations de l'affectation</h2>
                                            </div>
                                            {{ include('back/affectation/_form.html.twig') }}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    
    

    {#<a href="{{ path('app_back_affectation_index') }}">back to list</a>#}
{% endblock %}










{#{% extends 'baseback.html.twig' %}

{% block title %}Nouvelle affectation{% endblock %}

{% block container %}
    <h1>Créer une nouvelle affectation</h1>

    <div class="page-body">
        <div class="content-wrapper">

                <!-- New Product Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h3 class="text-center">information de l'affectation</h3>
                                            </div>
                                            {{ include('back/affectation/_form.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Product Add End -->
</div>
            </div>


    

    <a href="{{ path('app_back_affectation_index') }}">back to list</a>
{% endblock %}#}

